.product-shop-now-wrapper{
    position: fixed;
    bottom: 0;
    background-color: rgb(0,0,0, .7);
    width: 100%;
    z-index: 9;
    display: none;
}
.product-shop-now-wrapper .btn-shop-now{
    background-color: #F05423;
    text-transform: uppercase;
    color: #fff;
    max-width: 260px;
    margin: 15px auto;
    display: block;
    text-align: center;
    padding: 10px 15px;
    font-size: 14px;
    text-decoration: none;
}

.product__info-wrapper variant-radios{
    padding-top: 15px;
}
.product__info-wrapper .product-form__input input[type='radio'] + label{
    border: 1px solid #cccccc;
    background-color: #fff;
    color: #000000;
}
.product__info-wrapper .product-form__input input[type=radio]:checked+label {
    border: 1px solid #000000;  
    background-color: #fff;
}
.global-media-settings{
    border: 0;
}
.product-form shopify-payment-terms{
    background-color: #5a31f4;
}
.icons-list .list-item{
    padding: 5px 10px;    
}
.section-how-do-we-stack-up table tr td:nth-child(2){
    background-color: #F05423;
    font-weight: bold;
}
.section-how-do-we-stack-up table tr td:nth-child(2) img {
    filter: brightness(0);
}
.section--product-recommendations .badge{
    display: none;
}
.product__media.gradient.global-media-settings {
    background: transparent;
    background-color: transparent;
}

/* Mobile Responsive */
@media (max-width: 767px) {
    .breadcrumbs{
        display: none;
    }
    .skio-group-container--selected{
        margin-top: 5px;
    }
    .button--subscription {
        font-size: 13px;
        font-weight: bold;
    }
    .section-head h5{
        margin-bottom: 5px;
        margin-top: 0;
        font-size: 15px;
    }
    .section-how-do-we-stack-up .isolate {
        padding-bottom: 15px;
    }
    .ts-product-widget-header-right{
        display: block !important;
    }
}