.featured-collection {
  $self: &;

  .s-featured-collection--v2 & {
    // overrides here
    .title {
      margin-bottom: 56px;
    }
  }

  .card__media .media {
    background: #F6F6F6;
    img {
      object-fit: contain;
      mix-blend-mode: multiply;
    }
  }

  .card__heading {
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #000000;
  }
  .card__heading {
    @include desktop {
      padding-bottom: 0;
    }
  }
}