$color-brand-light: #F5F5F5;
$color-brand-dark: #141414;
$color-brand-orange: #F05423;
$color-brand-seashell: #FFF2EE;
$color-mono-1: #5A5A5A;
$color-mono-2: #F6F6F6;

$primary: $color-brand-orange;

$tablet: 750px;
$desktop: 991px;