@charset "utf-8";

@import './variables';

@import './vendor/bulma';

// @import './base/typography';

@import './components/breadcrumbs';
@import './components/button';

// Sections
// TODO: output sections in multiple css files and only import when needed
@import './sections/featured-blog';
@import './sections/featured-collection';
@import './sections/featured-reviews';
@import './sections/hero-grid';
@import './sections/image-with-text';
@import './sections/multicolumn';
@import './sections/newsletter';
@import './sections/recent-posts';
@import './sections/usp';

// Shopify templates
@import './templates/index';
@import './templates/product';

